/* 
    Map control
*/

.map {
    height: 92%;
}

#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 50px;
    z-index: 35;
}

#map .ol-zoom {
    font-size: 1.2em;
}

.navbar-offset {
    margin-top: 50px;
}

.main-row {
    position: relative;
    top: 0;
    z-index: 45;
}

/* 
    Nav Bar
*/

.navbar {
    z-index: 40;
}

.navbar-text {
    margin-right: 10px;
}

/* 
    feature/shape onClick popover
*/

.popover-body {
    --bs-popover-body-padding-x: 0.75rem;
    --bs-popover-body-padding-y: 0.50rem;
}

.shape-popover {
    font-size: 0.75em;
}

.shape-popover .shape-name {
    text-align: center;
    font-size: 1.09em;
    margin-bottom: 3px;
}

.shape-popover .shape-props {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shape-popover .shape-prop {
    margin: 0px 5px;
    padding: 0px 5px;
    border: 1px;
    border-style: dotted;
    border-radius: 5px;
    color: rgba(var(--bs-secondary-rgb), 0.75);
}

.hoverTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 
    Main page footer 
*/
.footer {
    z-index: 45;
    position: absolute;
    bottom: 0;
    left: 0;
    height: fit-content;
    font-size: small;
}

.footer-text-l {
    vertical-align: middle;
    white-space: nowrap;
}

.footer-text-m {
    vertical-align: middle;
}

.footer-text-r {
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
}

@media only screen and (max-width: 600px) {
    .footer {
        font-size: small;
    }
}


/* 
    Layer Switcher
*/

.layer-switcher.shown {
    height: 700px;
}

@media only screen and (max-width: 600px) {
    .layer-switcher.shown {
        font-size: small;
    }
}

/* 
    info custom control and bootstrap modal
*/

.info-control {
    left: .5em;
    min-width: 24px;
    font-size: 1.0em;
    background-color: var(--ol-background-color);
}

.bug-rpt-control {
    left: .5em;
    font-size: 1.0em;
    min-width: 24px;
    background-color: var(--ol-background-color);
}

.toggle-layer-control {
    left: .5em;
    font-size: 1.0em;
    min-width: 24px;
    background-color: var(--ol-background-color);
}

.zoom-pos-control {
    left: .5em;
    font-size: 1.0em;
    min-width: 24px;
    background-color: var(--ol-background-color);
}


@media only screen and (max-width: 600px) {

    /* 
    PHONE SCREENS 
    */
    .info-control {
        /* top: 100px; */
        top: auto;
        bottom: 25px;
        left: 5px;
    }

    .bug-rpt-control {
        /* top: 145px; */
        top: auto;
        left: auto;
        right: 5px;
        bottom: 25px;
    }

    .toggle-layer-control {
        top: 100px;
    }

    .zoom-pos-control {
        top: 145px;
    }

    .footer span {
        text-wrap: nowrap;
    }

    .footer-text-r {
        text-align: left;
    }

    #autocompleteBottomInput {
        width: 300px;
    }

    .hoverTitle {
        display: none;
    }
}


@media only screen and (min-width: 600px) {

    /* 
    MEDIUM SCREENS 
    */
    .info-control {
        top: auto;
        bottom: 45px;
        /* left: 45px; */
    }

    .bug-rpt-control {
        top: auto;
        bottom: 45px;
    }

    .toggle-layer-control {
        top: 75px;
    }

    .zoom-pos-control {
        top: 110px;
    }

    
    #autocompleteBottomInput {
        width: 400px;
    }
}

@media only screen and (min-width: 768px) {
    /* 
    BIG SCREENS 
    */

    .info-control {
        top: auto;
        bottom: 10px;
        /* left: 45px; */
    }

    .bug-rpt-control {
        top: auto;
        bottom: 10px;
    }

    .toggle-layer-control {
        top: 75px;
    }

    .zoom-pos-control {
        top: 110px;
    }

    #autocompleteBottomInput {
        width: 500px;
    }
}

.modal-body .disclaimer {
    font-size: xx-small;
}

.modal-header span {
    text-align: center;
    margin-left: 1em;
}